{% extends 'dashboard/base_site.html' %}
{% load static %}
{% block content-header-heading %}View Order{% endblock content-header-heading %}
{% block content %}

  <!-- First dashboard Section -->
    <div class="orderDetails-wrapper">

        <div class="commonRow">
            <div class="cust-3">
                <a href="{% url 'dashboard:customers-detail' 3 %}" class="btn btn-primary btn-thin">Back</a>
            </div>
        </div> 
        {% for i in order_data %}
                <!-- vlow first -->
                <div class="vlow vlow-1">
                  <div class="vlow-img">
                    <img src="{% static 'assets/image/food-image.jpg' %}" />
                                      </div>
                  <div class="vlow-content">
                    <div class="vlow-title">
                      <h4>{{i.order_menu_item.menu_item.title.upper}}</h4>
                      <a href="#" class="btn btn-outline-pri">{{i.menu_sub_item.title}}</a>
                    </div>
                    <div class="vlow-order-info">
                      <div class="vlow-order-info-list">
                        <p class="vlow-order-title mb-0">Order Status</p>
                        <p class="vlow-order-detil mb-0">{{i.order_menu_item.order.status}}</p>
                      </div>
                      <div class="vlow-order-info-list">
                        <p class="vlow-order-title mb-0">Original Quantity</p>
                        <p class="vlow-order-detil mb-0">
                          {% for q in i.order_menu_item.quantity %}
                          {{q.count}}
                          {% endfor %}
                        </p>
                      </div>
                      <div class="vlow-order-info-list">
                        <p class="vlow-order-title mb-0">Updated Quantity</p>
                        <p class="vlow-order-detil mb-0">
                          {% for q in i.order_menu_item.quantity %}
                          {{q.count}}
                          {% endfor %}
                        </p>
                      </div>
                      <div class="vlow-order-info-list">
                        <p class="vlow-order-title mb-0">Order ID</p>
                        <p class="vlow-order-detil mb-0">{{i.order_menu_item.order.order_id}}</p>
                      </div>
                      <div class="vlow-order-info-list">
                        <p class="vlow-order-title mb-0">Cook/Restaurant</p>
                        <p class="vlow-order-detil mb-0">{{i.order_menu_item.menu_item.cook.user.username}}</p>
                      </div>
                      <div class="vlow-order-info-list">
                        <p class="vlow-order-title mb-0">Date</p>
                        <p class="vlow-order-detil mb-0">{{i.order_menu_item.order.created_at.date}}</p>
                      </div>
                      <div class="vlow-order-info-list">
                        <p class="vlow-order-title mb-0">Price</p>
                        <p class="vlow-order-detil mb-0">${{i.order_menu_item.price}}</p>
                      </div>
                      <div class="vlow-order-info-list">
                        <p class="vlow-order-title mb-0">Updated Large</p>
                        <p class="vlow-order-detil mb-0">$60</p>
                      </div>
                      <div class="vlow-order-info-list">
                        <p class="vlow-order-title mb-0">Courier Name</p>
                        <p class="vlow-order-detil mb-0">{% for j in courier_data %}{{j.courier.user.username}}{% endfor %}</p>
                      </div>
                      <div class="vlow-order-info-list">
                        <p class="vlow-order-title mb-0">Earnings of Courier</p>
                        <p class="vlow-order-detil mb-0">$45</p>
                      </div>
                      <div class="vlow-order-info-list">
                        <p class="vlow-order-title mb-0">Earnings of Cook</p>
                        <p class="vlow-order-detil mb-0">$65</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- vlow second -->
                <div class="vlow vlow-2 border-gray">
                  <div class="order-detailed">
                    <p class="vlow-order-title mb-0">Nutritional Information</p>
                    <p class="vlow-order-detil mb-0">{{i.order_menu_item.menu_item.nutrition_info}}</p>
                  </div>
                  <div class="order-detailed">
                    <p class="vlow-order-title mb-0">Cultural Facts About The Dish</p>
                    <p class="vlow-order-detil mb-0">{{i.order_menu_item.menu_item.cultural_facts}}</p>
                  </div>
                  <div class="order-detailed">
                    <p class="vlow-order-title mb-0">Commercial Description</p>
                    <p class="vlow-order-detil mb-0">{{i.order_menu_item.menu_item.commercial_info}}</p>
                  </div>
                </div>
                <!-- vlow third -->
                <div class="vlow vlow-3">
                  <div class="vlow-inv-time vlow-invoice">
                    <div class="vlow-title border-0">
                      <h4 class="text-uppercase">INVOICE DETAILS</h4>
                      </div>
                      <table class="table vlow-invoice-table border-0">
                        <thead>
                          <tr>
                            <th class="text-uppercase">Item</th>
                            <th class="text-uppercase">Qty</th>
                            <th class="text-uppercase">Price</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Pizza Pepperoni</td>
                            <td>2</td>
                            <td><span>$</span>10.2</td>
                          </tr>
                          <tr>
                            <td>Spaghetti con Carne</td>
                            <td>1</td>
                            <td><span>$</span>10.2</td>
                          </tr>
                          <tr>
                            <td>Half Chicken with Fries</td>
                            <td>1</td>
                            <td><span>$</span>10.2</td>
                          </tr>
                          <tr>
                            <td>Extra Fries</td>
                            <td>1</td>
                            <td><span>$</span>10.2</td>
                          </tr>
                          <tr>
                            <td colspan="5"></td>
                          </tr>

                          <tr>
                            <td>Delivery & Chef Fees</td>
                            <td>20%</td>
                            <td><span>$</span>4.2</td>
                          </tr>
                          <tr>
                            <td>Sales Tax</td>
                            <td>13%</td>
                            <td><span>$</span>2.2</td>
                          </tr>
                          <tr>
                            <td colspan="3"></td>
                          </tr>
                        </tbody>
                        <tfoot class="border-top">
                          <tr>
                            <td colspan="2">Total</td>
                            <td><span>$</span>50.2</td>
                          </tr>
                          <tr>
                            <td colspan="3">Instruction to cook : <span>{{i.order_menu_item.order.cook_instruction}}</span></td>
                          </tr>
                        </tfoot>
                      </table>
                  </div>
                  <div class="vlow-inv-time vlow-timeline">
                    <div class="vlow-timeline-wrapper">
                      <h4>Timeline</h4>
                      <ul class="vlow-timeline-ul">
                        <li class="vlow-timeline-li order-rec">
                            <p class="vlow-timeline-title mb-0">Order Received</p>
                            <p class="vlow-timeline-date mb-0">Today . 4:30 PM</p>
                        </li>
                        <li class="vlow-timeline-li active-order">
                            <p class="vlow-timeline-title mb-0">In The Kitchen. <span class="color-orange">Cooking<img src="{% static 'assets/image/food_cook.gif' %}" style = "position:absolute; left:250px; top:9px;" /></span></p>
                            <p class="vlow-timeline-desc">Finished preparing ingredients</p>
                            <p class="vlow-timeline-date mb-0">4:30 PM . Est. End Of Cooking</p>
                          </li>
                          <li class="vlow-timeline-li active-order">
                            <p class="vlow-timeline-title mb-0">Pick-Up</p>
                            <p class="vlow-timeline-date mb-0">4:45 PM . Est. Pick-up time</p>
                          </li>
                          <li class="vlow-timeline-li">
                            <p class="vlow-timeline-title mb-0">En Route</p>
                            <p class="vlow-timeline-date mb-0">4:55 PM . Est. En Route</p>
                          </li>
                          <li class="vlow-timeline-li">
                            <p class="vlow-timeline-title mb-0">Delivered</p>
                            <p class="vlow-timeline-date mb-0">5:50 PM . Est. Delivery Time</p>
                          </li>
                        </ul>
                    </div>
                  </div>
        {% endfor %}
        </div>


  </div>

{% endblock content %}
