{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}
<div class="flex-center bg-image">
    <div class="card login-wrapper common_box">
        <div class="card-header common_box_header">
            <img src="{% static 'assets/image/logo.png' %}" class="img-fluid"/>
        </div>
        <div class="card-body common_box_body">
            <p class="verification-msg">Please Enter The Verification Code Sent To Your Email Address</p>
            <form action="{% url 'dashboard:verify-otp' %}" method="POST" class="custom_form">
                {% csrf_token %}
                <div class="form-group otp-group">
                    <input type="text" maxlength="1" class="form-control cf_input" name="digit[]">
                    <input type="text" maxlength="1"  class="form-control cf_input" name="digit[]">
                    <input type="text" maxlength="1"  class="form-control cf_input" name="digit[]">
                    <input type="text" maxlength="1"  class="form-control cf_input" name="digit[]">
                    <input type="text" maxlength="1"  class="form-control cf_input" name="digit[]">
                    <input type="text" maxlength="1"  class="form-control cf_input" name="digit[]">
                </div>
                <button type="submit" class="btn btn-primary login-btn">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
