{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}
<div class="flex-center bg-image">
    <div class="card login-wrapper common_box">
        <div class="card-header common_box_header">
            <img src="{% static 'assets/image/logo.png' %}" class="img-fluid"/>
        </div>

        <!-- Messages -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="materialert {{ message.tags }}">
                <div class="material-icons">error_outline</div>
                {{ message }}
                <button type="button" class="close-alert">×</button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <!-- /Messages -->

        <div class="card-body common_box_body">
            <form action="{% url 'dashboard:forgot-password' %}" method="post" class="custom_form">
                {% csrf_token %}
                <div class="form-group">
                    <label class="cf_label">Email</label>
                    <div class="pos-r">
                        <input type="email" class="form-control cf_input" name="email" required>
                        <img src="{% static 'assets/image/icon-check.png' %}" class="img-fluid"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary login-btn">Send Verification Code</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
