{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}
<div class="flex-center bg-image">
    <div class="card login-wrapper common_box">
        <div class="card-header common_box_header">
            <img src="{% static 'assets/image/logo.png' %}" class="img-fluid"/>
        </div>
        <div class="card-body common_box_body">
            <form href="#" class="custom_form">
                <div class="form-group">
                    <label class="cf_label">New Password</label>
                    <input type="password" name="password1" class="form-control cf_input" id="pwd">
                </div>
                <div class="form-group">
                    <label for="pwd" class="cf_label">Confirm Password</label>
                    <input type="password" class="form-control cf_input" id="confirm_pwd">
                </div>
                <button type="submit" name="password2" class="btn btn-primary login-btn">Update Password
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
