{% extends "dashboard/base.html" %}

{% load static %}

{% block content %}
<div class="flex-center bg-image">
    <div class="card login-wrapper common_box">
        <div class="card-header common_box_header">
            <img src="{% static 'assets/image/logo.png' %}" class="img-fluid"/>
        </div>
        <div class="card-body common_box_body">
            <form action="{% url 'dashboard:login' %}" method="post" class="custom_form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email" class="cf_label">Email</label>
                    <div class="pos-r">
                        <input type="email" name="email" class="form-control cf_input" id="email">
                        <img src="{% static 'assets/image/icon-check.png' %}" class="img-fluid"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="pwd" class="cf_label">Password:</label>
                    <div class="pos-r">
                        <input type="password" name="password" class="form-control cf_input" id="pwd">
                        <div class="pos-abs hide-show-pass">
                            <i class="fa fa-eye"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <a href="{% url 'dashboard:forgot-password' %}" class="forgot-pass">Forgot Password?</a>
                </div>
                <button type="submit" class="btn btn-primary login-btn">Log In</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
