
        <div class='main-content-header sticky-top bg-white'>
        <div>
            <h2 class='mch-heading mb-0'>$title</h2>
            <p class='mch-desc mb-0'>$desc</p>
        </div>
        <div class='mch-right-items'>
            <div class='notification-bell-wrapper'>
                <a class='notification-bell'>
                    <img src='./assets/image/notification-bell.png' class='img-fluid' />
                </a>
                <div class='m-0 notification-bell-dm'>
                    <div class='card border-0'>
                        <div class='card-header border-0 bg-transparent'>
                            <h3>Notifications</h3>
                            <div class='information-style'>
                                <span class='selectItem'>Information</span>
                                <ul class='SelectdropDown'>
                                    <li><input class='select-style' type='checkbox' id='inlineCheckbox1'
                                            value='option1' checked /> Information</li>
                                    <li><input class='select-style' type='checkbox' id='inlineCheckbox1'
                                            value='option1' /> Warning</li>
                                    <li><input class='select-style' type='checkbox' id='inlineCheckbox1'
                                            value='option1' /> High</li>
                                    <li><input class='select-style' type='checkbox' id='inlineCheckbox1'
                                            value='option1' /> 911 Danger</li>
                                </ul>
                            </div>

                        </div>
                        <div class='card-body border-0 bg-transparent'>
                            <div class='notification-bell-list nbl-danger'>
                                <div class='notification-bell-head'>
                                    <h4>Lorem Ispum dolor</h4>
                                    <span class='label'>Danger 911</span>
                                </div>
                                <p class='notification-bell-desc mb-2 line-clamp-3'>Lorem ipsum dolor sit amet, consetetur
                                    sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                                    elitr, sed diam nonumy.</p>
                                <p class='notification-bell-time mb-0'><i class='material-icons'>access_time</i> 13
                                    Sep 2020 at 10:10 AM</p>
                            </div>
                            <div class='notification-bell-list nbl-high'>
                                <div class='notification-bell-head'>
                                    <h4>Lorem Ispum dolor</h4>
                                    <span class='label'>High</span>
                                </div>
                                <p class='notification-bell-desc mb-2 line-clamp-3'>Lorem ipsum dolor sit amet, consetetur
                                    sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                                    elitr, sed diam nonumy.</p>
                                <p class='notification-bell-time mb-0'><i class='material-icons'>access_time</i> 13
                                    Sep 2020 at 10:10 AM</p>
                            </div>
                            <div class='notification-bell-list nbl-warning '>
                                <div class='notification-bell-head'>
                                    <h4>Lorem Ispum dolor</h4>
                                    <span class='label'>Warning</span>
                                </div>
                                <p class='notification-bell-desc mb-2 line-clamp-3'>Lorem ipsum dolor sit amet, consetetur
                                    sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                                    elitr, sed diam nonumy.</p>
                                <p class='notification-bell-time mb-0'><i class='material-icons'>access_time</i> 13
                                    Sep 2020 at 10:10 AM</p>
                            </div>
                            <div class='notification-bell-list nbl-information'>
                                <div class='notification-bell-head'>
                                    <h4>Lorem Ispum dolor</h4>
                                    <span class='label'>Information</span>
                                </div>
                                <p class='notification-bell-desc mb-2 line-clamp-3'>Lorem ipsum dolor sit amet, consetetur
                                    sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                                    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
                                    elitr, sed diam nonumy.</p>
                                <p class='notification-bell-time mb-0'><i class='material-icons'>access_time</i> 13
                                    Sep 2020 at 10:10 AM</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='dropdown user-menu'>
                <button type='button' class='dropdown-toggle user-btn' data-toggle='dropdown'>
                    <img src='./assets/image/user-i.png' class='img-fluid' />
                </button>
                <div class='dropdown-menu user-dropmenu'>
                    <a class='dropdown-item' href='#' data-toggle='modal' data-target='#logout-modal'>Logout</a>
                </div>
            </div>
        </div>
    </div>